// variables
$head-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$light: #FFF;
$blue-light: #F7F7F7;
$gray: #F1F1F1;
$semi-dark: #212121;
$semi-dark_transparent: rgba(255,255,255, 0.3);
$attent: #FDD135;

// styles

* {
  outline: 0 solid red;
}

body {
  margin: 0;
  background: $light;
  font-family: $body-font;
}

.container_fluid {
  width: 1400px;
  margin: 0 auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  background: $attent;
  border: 0;
  padding: 20px 35px;
  color: $light;
  font-family: $head-font;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.button:before {
  content:'';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 67px;
  background: $semi-dark_transparent;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.button:hover:before {
  width: 100%;
  filter: blur(8px);
}
// header

.background__fluid {
  background: url("./assets/header.jpg") $semi-dark no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 1400px;
  height: 700px;
  background: $semi-dark;
  opacity: 0.3;
  transition: 0.5s opacity ease-in-out;
}

.overlay:hover {
  opacity: 0;
}

.header {
  height: 700px;
  color: $light;
  text-align: center;
  position: relative;
}

.nav {
  position: relative;
  font-family: $head-font;
  height: 50px;
  padding-top: 25px;
}

.logo {
  position: absolute;
  left: 5%;
  padding-top: 15px;
  float: left;
}

.header__content {
  display: block;
  position: absolute;
  width: 100%; // centering content XY
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // end centering content XY

  .header__title {
    display: block;
    margin: auto;
    font-family: $head-font;
    font-size: 3rem;
    font-weight: bold;
    margin: 40px;
  }

  .header__subtitle {
    display: block;
    margin: auto;
    font-family: $body-font;
    font-size: 2.5rem;
    margin: 40px;
  }
}

.menu {
  float: left;
  position: absolute;
  right: 5%;

  .menu__item {
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    color: $light;
    padding-right: 20px;
  }

  .menu__link {
    color: $light;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: $attent;
    }
  }
}
// sections, main content

.main {}

.section {
  padding: 35px 0;
}

.section__header {
  color: $semi-dark;
  font-family: $head-font;
  font-size: 1.8rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0 25px 25px 25px;
}

.section__subheader {
  font-family: $body-font;
  font-style: italic;
  font-weight: 300;
  display: block;
  color: $semi-dark;
  opacity: 0.3;
  font-size: 1.1rem;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.section__text-block {
  text-align: center;
  padding: 50px;
}

.section__title_dark {
  .section__header {
    @extend .section__header;
    color: $light;
  }

  .section__subheader {
    @extend .section__subheader;
    color: $light;
  }
}
// footer

.footer {
  font-family: $body-font;
  font-weight: 300;
  font-size: 0.9rem;
  .footer__content {
    transform: translatex(-100px);
    text-align: center;
    span {
      margin-right: 35px;
    }
    i{
      border: 2px $semi-dark solid;
      border-radius: 50%;
      line-height: 1rem;
      text-align: center;
      margin: 10px 3px;
      padding: 0.5rem;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }
  }
}
// icons

.icon_light {
  transition: all 1s ease-in-out;
}

.icon_light:hover {
  color: $attent;
  background: $semi-dark;
}

.icon_dark {
  color: $light;
  background: $semi-dark;
  transition: all 1s ease-in-out;
}

.icon_dark:hover {
  color: $semi-dark;
  background: $attent;
}

// services section

.services {
  background: $light;
  min-height: 430px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  .section__item {
    text-align: center;
  }

  .item__desc {
    padding: 10px;
  }
}

.item__icon {
  width: 74px;
  height: 73px;
  margin: 30px auto;
  transition: 0.5s transform ease-in-out;
}

// portfolio section

.portfolio {
  background: $blue-light;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  .gallery__item {
    flex: 1 0 20%;
    margin: 11px;
    text-align: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
    .item__image {
      width: 290px;
      height: 300px;
    }
    .item__content {
      background: $light;
      width: 290px;
      padding: 10px 0;
      .item__title {}
      .item__desc {}
    }
  }
}

.gallery__item:hover {
  filter: sepia(80%);
}


// about us section

.aboutus {
  background: $light;
}

.time-line {
  position: relative;
  padding: 35px;
  .time-line__item {
    margin: 0 auto;
    height: 300px;
    .time-line__content_left {
      width: 300px;
      position: relative;
      left: 40px;
      text-align: right;
    }

    .time-line__content_right {
      width: 300px;
      position: relative;
      left: 610px;
    }
  }

  .time-line__gray-line {
    background: $gray;
    width: 3px;
    height: 1115px;
    position: absolute;
    left: 50%;
    top: 200px;
  }
  .time-line__date {}

  .time-line__title {}

  .time-line__desc {}

  .time-line__image {
    position: relative;
    top: -180px;
    width: 170px;
    height: 170px;
    border: 5px $gray solid;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 1s ease-in-out;
  }
  .time-line__item_see-more {
    background: $attent;
    width: 170px;
    height: 170px;
    border: 5px $gray solid;
    border-radius: 50%;
    margin: 0 auto;
    .time-line__content {
      color: $light;
      font-family: $body-font;
      line-height: 2rem;
      text-transform: uppercase;
      text-align: center;
      transform: translatey(35%);
    }
  }
}

.time-line__image:hover {
  filter: sepia(80%);
}
// team section

.team {
  background: $blue-light;
}

.cards {
  max-width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px;
  text-align: center;
  .cards__item {

  }

  .cards__image {
    margin: 25px;
    width: 220px;
    height: 220px;
    border: 4px $light solid;
    border-radius: 50%;
    transition: all 1s ease-in-out;
  }

  .cards__name {
  }

  .cards__position {
  }

  .cards__icons {
    i{
      border: 2px $semi-dark solid;
      border-radius: 50%;
      line-height: 1rem;
      text-align: center;
      margin: 10px 3px;
      padding: 0.5rem;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }
  }
}

.cards__image:hover {
  filter: sepia(80%);
}
// partners section

.partners {
  background: $light;
  padding-bottom: 0;
  .partners__items {
    display: flex;
    align-items: center;
    justify-content: center;
    .partners__item {
      width: 190px;
      height: 44px;
      cursor: pointer;
    }
  }
}

.partners__item:hover {
  filter: sepia(50%);
}
// contact section

.contact {
  height: 620px;
  background: url("./assets/contact_bg.jpg") no-repeat 50% 10% $semi-dark;
}

.contact-form {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  .contact-form__form-container_row {
    display: flex;
    flex-direction: row;
    .contact-form_left {
      display: flex;
      flex-direction: column;
      .contact-form__name {
        margin: 15px;
        height: 35px;
        width: 455px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        font-family: $body-font;
      }
      .contact-form__email {
        margin: 15px;
        height: 35px;
        width: 455px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
      }
      .contact-form__subject {
        margin: 15px;
        height: 35px;
        width: 455px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
      }
    }
    .contact-form_right {
      display: flex;
      flex-direction: column;
      .contact-form__message {
        flex-direction: column;
        margin: 15px;
        height: 185px;
        width: 455px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        font-family: $body-font;
      }
    }
  }
  .contact-form__form-container_column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .contact-form_bottom {
      .contact-form__submit {
      }
    }
  }
}
