* {
  outline: 0 solid red;
}

body {
  margin: 0;
  background: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container_fluid {
  width: 1400px;
  margin: 0 auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  background: #FDD135;
  border: 0;
  padding: 20px 35px;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.button:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 67px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.button:hover:before {
  width: 100%;
  filter: blur(8px);
}

.background__fluid {
  background: url("./assets/header.jpg") #212121 no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 1400px;
  height: 700px;
  background: #212121;
  opacity: 0.3;
  transition: 0.5s opacity ease-in-out;
}

.overlay:hover {
  opacity: 0;
}

.header {
  height: 700px;
  color: #FFF;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.nav {
  position: relative;
  font-family: "Open Sans", sans-serif;
  height: 50px;
  padding-top: 25px;
  pointer-events: auto;
}

.logo {
  position: absolute;
  left: 5%;
  padding-top: 15px;
  float: left;
}

.header__content {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__content .header__title {
  display: block;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 40px;
}

.header__content .header__subtitle {
  display: block;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin: 40px;
}

.header__content .header__button {
  pointer-events: auto;
}

.menu-hamburger {
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 0 35px;
}

.hamburger__line {
  width: 50px;
  height: 5px;
  background: #FFF;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  margin-right: 0;
}

.menu {
  float: left;
  position: absolute;
  right: 5%;
}

.menu .menu__item {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  padding-right: 20px;
}

.menu .menu__link {
  color: #FFF;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.menu .menu__link:hover {
  color: #FDD135;
}

.section {
  padding: 35px 0;
}

.section__header, .section__title_dark .section__header {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0 25px 25px 25px;
}

.section__subheader, .section__title_dark .section__subheader {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  display: block;
  color: #212121;
  opacity: 0.3;
  font-size: 1.1rem;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.section__title_dark .section__header {
  color: #FFF;
}

.section__title_dark .section__subheader {
  color: #FFF;
}

.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.footer .footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer .footer__content span {
  display: block;
  margin: 15px;
}

.footer .footer__content .footer__icons i {
  border: 2px #212121 solid;
  border-radius: 50%;
  line-height: 1rem;
  text-align: center;
  margin: 10px 3px;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.icon_light {
  transition: all 1s ease-in-out;
}

.icon_light:hover {
  color: #FDD135;
  background: #212121;
}

.icon_dark {
  color: #FFF;
  background: #212121;
  transition: all 1s ease-in-out;
}

.icon_dark:hover {
  color: #212121;
  background: #FDD135;
}

.services {
  background: #FFF;
  min-height: 430px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items .section__item {
  text-align: center;
}

.items .item__desc {
  padding: 10px;
}

.item__icon {
  width: 74px;
  height: 73px;
  margin: 30px auto;
  transition: 0.5s transform ease-in-out;
}

.portfolio {
  background: #F7F7F7;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery .gallery__item {
  flex: 1 0 20%;
  margin: 11px;
  text-align: center;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.gallery .gallery__item .item__image {
  flex-basis: 290px;
  width: 290px;
  height: 300px;
  margin: auto;
}

.gallery .gallery__item .item__content {
  flex-basis: 290px;
  width: 290px;
  padding: 10px 0;
  margin: auto;
}

.gallery__item:hover {
  filter: sepia(80%);
}

.aboutus {
  background: #FFF;
}

.time-line {
  position: relative;
  padding: 35px;
}

.time-line .time-line__item {
  margin: 0 auto;
  height: 300px;
}

.time-line .time-line__item .time-line__content_left {
  width: 300px;
  position: relative;
  left: 40px;
  text-align: right;
}

.time-line .time-line__item .time-line__content_right {
  width: 300px;
  position: relative;
  left: 610px;
}

.time-line .time-line__gray-line {
  background: #F1F1F1;
  width: 3px;
  height: 1115px;
  position: absolute;
  left: 50%;
  top: 200px;
}

.time-line .time-line__image {
  position: relative;
  top: -180px;
  width: 170px;
  height: 170px;
  border: 5px #F1F1F1 solid;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 1s ease-in-out;
}

.time-line .time-line__item_see-more {
  background: #FDD135;
  width: 170px;
  height: 170px;
  border: 5px #F1F1F1 solid;
  border-radius: 50%;
  margin: 0 auto;
}

.time-line .time-line__item_see-more .time-line__content {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: center;
  transform: translatey(35%);
}

.time-line__image:hover {
  filter: sepia(80%);
}

.team {
  background: #F7F7F7;
}

.section__text {
  text-align: center;
  padding: 20px;
}

.cards {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px;
  text-align: center;
}

.cards .cards__image {
  margin: 25px;
  width: 220px;
  height: 220px;
  border: 4px #FFF solid;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.cards .cards__icons i {
  border: 2px #212121 solid;
  border-radius: 50%;
  line-height: 1rem;
  text-align: center;
  margin: 10px 3px;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.cards__image:hover {
  filter: sepia(80%);
}

.partners {
  background: #FFF;
}

.partners .partners__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners .partners__items .partners__item {
  width: 190px;
  height: 44px;
  cursor: pointer;
}

.partners__item:hover {
  filter: sepia(50%);
}

.contact {
  height: 620px;
  background: url("./assets/contact_bg.jpg") no-repeat 50% 10% #212121;
}

.contact-form {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-form .contact-form__form-container_row {
  display: flex;
  flex-direction: row;
}

.contact-form .contact-form__form-container_row .contact-form_left {
  display: flex;
  flex-direction: column;
}

.contact-form .contact-form__form-container_row .contact-form_left .contact-form__name {
  margin: 15px;
  height: 35px;
  width: 455px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.contact-form .contact-form__form-container_row .contact-form_left .contact-form__email {
  margin: 15px;
  height: 35px;
  width: 455px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.contact-form .contact-form__form-container_row .contact-form_left .contact-form__subject {
  margin: 15px;
  height: 35px;
  width: 455px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.contact-form .contact-form__form-container_row .contact-form_right {
  display: flex;
  flex-direction: column;
}

.contact-form .contact-form__form-container_row .contact-form_right .contact-form__message {
  flex-direction: column;
  margin: 15px;
  height: 185px;
  width: 455px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.contact-form .contact-form__form-container_column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

@media screen and (min-width: 991px) {
  .menu-hamburger {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .container_fluid {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .overlay {
    display: none;
  }
  .menu {
    display: none;
  }
  .footer .footer__content {
    transform: none;
  }
  .footer .footer__content span {
    display: block;
    padding: 20px;
    margin: 0;
  }
  .items {
    display: block;
  }
  .items .section__item .item__desc {
    margin-left: 20%;
    margin-right: 20%;
  }
  .aboutus {
    display: none;
  }
  .section__text {
    margin-left: 10%;
    margin-right: 10%;
  }
  .cards {
    display: block;
  }
  .cards .cards__item {
    margin: 50px;
  }
  .cards .cards__item .cards__image {
    margin: 0 auto;
  }
  .partners .partners__items {
    display: block;
  }
  .partners .partners__items .partners__item {
    margin: 0 auto;
    padding: 25px;
  }
  .contact-form {
    margin-top: 5px;
  }
  .contact-form .contact-form__form-container_row {
    display: block;
  }
  .contact-form .contact-form__form-container_row .contact-form_left .contact-form__name {
    width: 400px;
  }
  .contact-form .contact-form__form-container_row .contact-form_left .contact-form__email {
    width: 400px;
  }
  .contact-form .contact-form__form-container_row .contact-form_left .contact-form__subject {
    width: 400px;
  }
  .contact-form .contact-form__form-container_row .contact-form_right .contact-form__message {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .footer .footer__content {
    display: block;
  }
  .section__header, .section__title_dark .section__header {
    padding: 0;
  }
  .cards {
    display: block;
  }
  .cards .cards__item {
    margin: 50px;
  }
  .cards .cards__item .cards__image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .contact-form {
    margin-top: 20px;
  }
  .contact-form .contact-form__form-container_row {
    display: block;
  }
  .contact-form .contact-form__form-container_row .contact-form_left .contact-form__name {
    width: 290px;
    margin: 15px 0;
  }
  .contact-form .contact-form__form-container_row .contact-form_left .contact-form__email {
    width: 290px;
    margin: 15px 0;
  }
  .contact-form .contact-form__form-container_row .contact-form_left .contact-form__subject {
    width: 290px;
    margin: 15px 0;
  }
  .contact-form .contact-form__form-container_row .contact-form_right .contact-form__message {
    width: 290px;
    margin: 15px 0;
  }
}
/*# sourceMappingURL=styles.css.map */